# List are heterogeneous. It can contain primitive data types (int, float, string, complex, byte), list, tuple, range, set, dict,bytearray

In [1]:
abaStr = bytearray(b"HiIamMutableByte")
l = [1, 2, 1.3, 1+3j, "abc", (11,22,33), [111,22], {15,17}, {12:13, 14:15}, b"byte", abaStr, range(1,10,4)]
for i in l:
    if (type (i) not in (int, float, complex)):
        print ("Element= ", i, "type=", type(i), "Length=", len(i))
    else:
        print ("Element= ", i, "type=", type(i))

Element=  1 type= <class 'int'>
Element=  2 type= <class 'int'>
Element=  1.3 type= <class 'float'>
Element=  (1+3j) type= <class 'complex'>
Element=  abc type= <class 'str'> Length= 3
Element=  (11, 22, 33) type= <class 'tuple'> Length= 3
Element=  [111, 22] type= <class 'list'> Length= 2
Element=  {17, 15} type= <class 'set'> Length= 2
Element=  {12: 13, 14: 15} type= <class 'dict'> Length= 2
Element=  b'byte' type= <class 'bytes'> Length= 4
Element=  bytearray(b'HiIamMutableByte') type= <class 'bytearray'> Length= 16
Element=  range(1, 10, 4) type= <class 'range'> Length= 3

In [7]:
#Now access each element of the array using for and range object
length =len(l)
j = 0
print (l)
while j < length:
    i = l[j]
    if (type (i) not in (int, float, complex)):
        print ("index=", j, "Element= ", i, "type=", type(i), "Length=", len(i))
    else:
        print ("index=", j, "Element= ", i, "type=", type(i))    
    j += 1

[1, 2, 1.3, (1+3j), 'abc', (11, 22, 33), [111, 22], {17, 15}, {12: 13, 14: 15}, b'byte', bytearray(b'HiIamMutableByte'), range(1, 10, 4)]
index= 0 Element=  1 type= <class 'int'>
index= 1 Element=  2 type= <class 'int'>
index= 2 Element=  1.3 type= <class 'float'>
index= 3 Element=  (1+3j) type= <class 'complex'>
index= 4 Element=  abc type= <class 'str'> Length= 3
index= 5 Element=  (11, 22, 33) type= <class 'tuple'> Length= 3
index= 6 Element=  [111, 22] type= <class 'list'> Length= 2
index= 7 Element=  {17, 15} type= <class 'set'> Length= 2
index= 8 Element=  {12: 13, 14: 15} type= <class 'dict'> Length= 2
index= 9 Element=  b'byte' type= <class 'bytes'> Length= 4
index= 10 Element=  bytearray(b'HiIamMutableByte') type= <class 'bytearray'> Length= 16
index= 11 Element=  range(1, 10, 4) type= <class 'range'> Length= 3

In [2]:
def f1(a):
    print ("Executing f1(", a, ")")
def f2(a):
    print ("Executing f2(", a, ")")
def f3(a):
    print ("Executing f3(", a, ")")
l = [f1,f2,f3]
m = [(f1,10), (f2,20), (f3,30)]
paraml= [ 10, 20, 30]
for i in range (len(l)):
    print ("Now calling using list item")
    l[i](paraml[i])
    print ("Now calling using tuple item")
    m[i][0](m[i][1])
    print ("\n")

Now calling using list item
Executing f1( 10 )
Now calling using tuple item
Executing f1( 10 )


Now calling using list item
Executing f2( 20 )
Now calling using tuple item
Executing f2( 20 )


Now calling using list item
Executing f3( 30 )
Now calling using tuple item
Executing f3( 30 )

# Lets use some functions in list: append, insert, pop, remove, count

In [4]:
#append
l = [12, 13, 14, 14, 17, 18, 12, 18]
l2 = [11,100]
#append a single item
l.append (1000)
print ("After append 1000", l, len(l))

After append 1000 [12, 13, 14, 14, 17, 18, 12, 18, 1000] 9

In [5]:
#append a list
l.append(l2)
print ("After Append l2", l, len(l))

After Append l2 [12, 13, 14, 14, 17, 18, 12, 18, 1000, [11, 100]] 10

In [6]:
#insert a list
l3 = ["a", "b"]
l.insert(2, l3)
print ("After insert l3", l, len (l))

After insert l3 [12, 13, ['a', 'b'], 14, 14, 17, 18, 12, 18, 1000, [11, 100]] 11

In [10]:
#find count
print ("#times 14 in list=", l.count(14))
#remove via pop pop(index)
a =l.pop(1)
print ("after pop 1", l, len(l), a)
a=l.pop(0)
print ("after pop 1", l, len(l), a)

#times 14 in list= 0
after pop 1 [17, 12, 18, 1000, [11, 100]] 5 18
after pop 1 [12, 18, 1000, [11, 100]] 4 17

In [ ]:
#remove item directly
l.remove(14)
print ("after remove  14", l, len (l))
l.remove(1000)
print ("After remove 1000", l, len (l))

l.remove(1000)
print ("After remove 1000", l, len (l)) # This time will throw an exception

# Lets use some functions in list: extend, sort, sorted, copy, clear

In [11]:
#sorted and sort
def take2nd(elem):
    print ("calling take2nd", elem)
    return elem[1]

places = [("trichy", 1000) , ("bangalore", 1000000),  ("chennai", 1100000), ("delhi", 2000), ("mumbai", 30000040)]
print ("Calling sort with default parameters", sorted(places))

Calling sort with default parameters [('bangalore', 1000000), ('chennai', 1100000), ('delhi', 2000), ('mumbai', 30000040), ('trichy', 1000)]

In [12]:
print (places)
places.sort(key=take2nd, reverse=False)
print (places)

[('trichy', 1000), ('bangalore', 1000000), ('chennai', 1100000), ('delhi', 2000), ('mumbai', 30000040)]
calling take2nd ('trichy', 1000)
calling take2nd ('bangalore', 1000000)
calling take2nd ('chennai', 1100000)
calling take2nd ('delhi', 2000)
calling take2nd ('mumbai', 30000040)
[('trichy', 1000), ('delhi', 2000), ('bangalore', 1000000), ('chennai', 1100000), ('mumbai', 30000040)]

In [30]:
pl2 = places.copy()
print (pl2)

[('trichy', 1000), ('delhi', 2000), ('bangalore', 1000000), ('chennai', 1100000), ('mumbai', 30000040)]

In [31]:
places.clear()

In [32]:
print (places)
print (pl2)

[]
[('trichy', 1000), ('delhi', 2000), ('bangalore', 1000000), ('chennai', 1100000), ('mumbai', 30000040)]

In [33]:
l2 = [("pune", 1111), ("Gariahat", 100000)] 
pl2.extend(l2)
print(pl2)

[('trichy', 1000), ('delhi', 2000), ('bangalore', 1000000), ('chennai', 1100000), ('mumbai', 30000040), ('pune', 1111), ('Gariahat', 100000)]

# Now lets use the built in function sum

In [44]:
print (l)

[12, ['a', 'b'], 14, 17, 18, 12, 18, [11, 100]]

In [48]:
l1 = l[2:len(l)-1]
print (l1)
print (sum(l1)) #sum (l1, a)=> sum(l1) + a

[14, 17, 18, 12, 18]
79