# In Python you can write executable statements, and then define functions

In [25]:
import sys
print (sys)
a123 =1000

<module 'sys' (built-in)>

# This is how a function is written

In [28]:
def f1(n):
    '''
    THis function finds the sum of all number from 1 to n
    Although this can be done without for loop, showcasing how to write a for loop
    This is a docstring
    Also this format can be used to define a multi-line string
    '''
    a= a123
    sum = 0

    for i in range(1,n+1):
        sum += i
    return sum

# This is how a function is called

In [29]:
a = f1(5)
print (a)
print (f1(20))

15
210

In [4]:
print(print)

<built-in function print>

In [5]:
print (type(a))

<class 'int'>

In [6]:
a =True
print(type(a))

<class 'bool'>

In [7]:
print ("type(a) is bool", type(a) is bool)

type(a) is bool True

In [8]:
a = "abc"
print ("type(a) is str", type(a) is str)

type(a) is str True

In [9]:
a = 1.23
print ("type(a) is float", type(a) is float)

type(a) is float True

In [10]:
a =  1
print ("type (a) is int", type(a) is int)

type (a) is int True

In [11]:
a = b"This is great" # a is not a bytestring
print (a, type(a))
print ("type (a) is bytes", type(a) is bytes)
c = "THis is great"
print ("c=", c, "type(c)=", type(c), "(type(c) is str ",type(c) is str)
d = str.encode(c) #converting c to byte
print ("d is ", d, "and type(d) is ", type(d))
e = a.decode()
print ("e is ", e, "and type(e) is ", type(e))

b'This is great' <class 'bytes'>
type (a) is bytes True
c= THis is great type(c)= <class 'str'> (type(c) is str  True
d is  b'THis is great' and type(d) is  <class 'bytes'>
e is  This is great and type(e) is  <class 'str'>

In [15]:
a = 1+2j
print(type(a))

<class 'complex'>

In [16]:
b = complex(1,2)
print(b)

(1+2j)

In [17]:
print (b.real)
print(b.imag)

1.0
2.0

In [18]:
a= 3
print(id(a))

1616496368

In [20]:
a = a+1
print (a, id(a))

5 1616496432

In [21]:
b = 5
a =5
print ("a=", a, "id a=", id(a), "b=", b, "id b=", id(b))

a= 5 id a= 1616496432 b= 5 id b= 1616496432

In [22]:
a = 6
print ("a=", a, "id a=", id(a), "b=", b, "id b=", id(b))

a= 6 id a= 1616496464 b= 5 id b= 1616496432

In [23]:
a=5
print ("a=", a, "id a=", id(a), "b=", b, "id b=", id(b))

a= 5 id a= 1616496432 b= 5 id b= 1616496432

In [24]:
a=1000
b=1000
print ("a=", a, "id a=", id(a), "b=", b, "id b=", id(b))

a= 1000 id a= 2545520909456 b= 1000 id b= 2545520909936