In [2]:
import pandas as pd
import numpy as np
print (pd)
print(np)

<module 'pandas' from 'c:\\python36\\lib\\site-packages\\pandas\\__init__.py'>
<module 'numpy' from 'c:\\python36\\lib\\site-packages\\numpy\\__init__.py'>

In [15]:
# Create a series from list with index
dseries = pd.Series([1.1, 1.2, 1.3,1.4, 1.5], index=["a", "b", "c", "d", "e"])
dseries

a    1.1
b    1.2
c    1.3
d    1.4
e    1.5
dtype: float64

In [9]:
dseries = pd.Series([1.1, 1.1, 1.2, 1.3,1.4, 1.5]) #(if no index, rownum is the default index)
dseries

0    1.1
1    1.1
2    1.2
3    1.3
4    1.4
5    1.5
dtype: float64

In [10]:
#YOu see that each row is uniquely labelled with a rownum. These are the index
#Pandas are like numpy arrays. Can slice series
print(dseries[0:3])

0    1.1
1    1.1
2    1.2
dtype: float64

In [11]:
#will work like python get from index 2 to last object
print(dseries [2:100])

2    1.2
3    1.3
4    1.4
5    1.5
dtype: float64

In [12]:
#get all objects
print(dseries[:])

0    1.1
1    1.1
2    1.2
3    1.3
4    1.4
5    1.5
dtype: float64

In [14]:
print (dseries.values, type(dseries.values))

[1.1 1.1 1.2 1.3 1.4 1.5] <class 'numpy.ndarray'>

In [16]:
#by default index is row number from [0,5,1) => 0,1,2,3,4
dseries["a":"d"]

a    1.1
b    1.2
c    1.3
d    1.4
dtype: float64

In [17]:
#numpy uses the integer array as index.
#pandas can use column as index
dseries.reset_index(drop=True, inplace=True)
dseries

0    1.1
1    1.2
2    1.3
3    1.4
4    1.5
dtype: float64

In [18]:
#Creating series from dict
dseries = pd.Series({"a":11, "b": 22, "c": 33, "e": 55})
dseries

a    11
b    22
c    33
e    55
dtype: int64

In [19]:
#get its index object
dseries.index

Index(['a', 'b', 'c', 'e'], dtype='object')

In [20]:
#now get its values
dseries.values

array([11, 22, 33, 55], dtype=int64)

In [21]:
dseries[0]=1111
dseries

a    1111
b      22
c      33
e      55
dtype: int64

In [67]:
dseries.to_csv("series_out.csv")

In [22]:
dseries = pd.read_csv("series1.csv", header=None, index_col=None,squeeze=True)
dseries

     0    1    2    3    4
0  100  200  300  400  500

In [23]:
dseries.index

RangeIndex(start=0, stop=1, step=1)

In [25]:
#Create from csv file. If you set index_col== None, by default assigns rownum as index to each row
dseries = pd.read_csv("series2.csv", header=None, index_col=None,lineterminator="\n", squeeze=True) #to eliminate leading 0, 
#and treat this as series
print(dseries)

0    2000
1    3000
2     101
3     201
4     301
5     401
6     501
Name: 0, dtype: int64

In [26]:
dseries = pd.read_csv("series2.csv", header=None, index_col=0)
#THis makes the 1st column as index
dseries

Empty DataFrame
Columns: []
Index: [2000, 3000, 101, 201, 301, 401, 501]

In [70]:
dseries.index

Int64Index([101, 201, 301, 401, 501], dtype='int64', name=0)

In [14]:
dseries.rename("Hello",inplace=True)
dseries.name
dseries

0    101
1    201
2    301
3    401
4    501
Name: Hello, dtype: int64